.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group{"date-group_id" => ""}
        テスト
      %ul.main-header__left-box__member-list
        Member:
        %li.main-header__left-box__member-list__member
        peoc
    %a{:href => "#"}
      .main-header__edit-btn Edit
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker
          peoc
        %p.message__upper-info__date
          2019/11/26(Tue) 11:38:08
      %p.message__text
        こんにちは！
  .form
    %form.new__message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          =icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn"}

  
      